
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/images/
/public/uploads/
/var/
/docs/
/vendor/
###< symfony/framework-bundle ###
